.sc.form-section
  .sc__aside.form-section__descr
    h3.form-section__title Оставьте заявку
    p.form-section__p Мы расскажем об особенностях контекстной рекламы  для вашего ресурса
    
    .email-block
      p или отправьте письмо 
        br
        | на info@marox.digital
    
  .sc__content.form-section__content
    form(id="", method="", action="")
      each item in topForm
        .form-group.form-group_inline
          label.form-group__label #{item.label}
          div(class=item.isError ? 'form-group__input input-group input-group_error' : 'form-group__input input-group')
            input(type=`${item.inputType}`, name="")
            if item.isError
              span.input-group__error #{item.error}
            else
              span(class="input-group__error hidden") #{item.error}
            
      button.btn.btn_icon.form-group__btn Отправить
